<div class="flex h-full w-full flex-col">
  <app-toolbar class="sticky top-0" (onMenu)="onMenuClick()"></app-toolbar>
  <mat-divider [inset]="true"></mat-divider>
  <div class="w-full h-full">
    <table mat-table [dataSource]="transactions" class="w-full h-fit">
      <!-- Item Column -->
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef>Item</th>
        <td mat-cell *matCellDef="let transaction">
          <div class="flex flex-col w-full justify-center text-center">
            <div class="flex w-full justify-center">
              <span>{{ transaction.itemName }}</span>
              <span> ({{ transaction.option }})</span>
            </div>
            <div class="flex w-full gap-2 justify-center">
              <div class="flex">
                <span class="text-slate-300">{{ transaction.cost }}</span>
              </div>
            </div>
          </div>
        </td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let transaction">
          <div class="flex">
            <mat-icon (click)="reduceQuantity(transaction)"
              ><span> remove </span>
            </mat-icon>
            <input
              class="bg-inherit w-6 text-center"
              type="number"
              matInput
              [value]="transaction.quantity"
            />
            <mat-icon (click)="addQuantity(transaction)">
              <span> add </span>
            </mat-icon>
          </div>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <div class="flex text-center">
            <span>{{ getTotalItem() }}</span>
          </div>
        </td>
      </ng-container>

      <!-- Cost Column -->
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef>Cost</th>
        <td mat-cell *matCellDef="let transaction">
          {{ getItemCost(transaction) | currency : "INR" }}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <div class="flex text-center">
            {{ getTotalCost() | currency : "INR" }}
          </div>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
        class="sticky top-0"
      ></tr>
      <tr
        class="h-2"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
      <tr
        mat-footer-row
        *matFooterRowDef="displayedColumns"
        class="sticky bottom-10 border-t-2 border-slate-700"
      ></tr>
    </table>
  </div>
  <app-bottom-panel
    class="sticky bottom-0"
    (onAdd)="onAddBTN($event)"
    (onSubmit)="onSubmitBTN($event)"
  ></app-bottom-panel>
</div>
