<div class="flex flex-col h-full w-full">
  <app-toolbar class="sticky top-0" (onMenu)="onMenuClick()"></app-toolbar>
  <ng-container>
    <mat-drawer-container class="h-full w-full gap-2" autosize>
      <mat-drawer #drawer class="h-full pr-2 w-full" mode="side" opened="true">
        <mat-list class="border border-slate-700 border-l-0 h-full rounded-2xl">
          @for (route of routes; track route) {
          <div
            class="flex rounded-xl mx-2"
            [ngClass]="{ 'bg-slate-700': route.selected }"
          >
            <mat-list-item
              class="hover:bg-slate-800"
              (click)="onRouteSelection(route)"
            >
              <mat-icon matListItemIcon>{{ route.icon }}</mat-icon>
              <div matListItemTitle>{{ route.name }}</div>
              <div matListItemLine>
                <span class="text-sm text-gray-500">{{
                  route.description
                }}</span>
              </div>
            </mat-list-item>
          </div>
          }
        </mat-list>
      </mat-drawer>
      @if (true) {
      <router-outlet></router-outlet>
      }
    </mat-drawer-container>
  </ng-container>
</div>
