<mat-card class="flex border h-full w-full p-2 border-slate-700 rounded-2xl">
  <div class="flex w-full h-full items-center gap-4 flex-col p-4">
    <div class="flex w-full text-center justify-between">
      <div class="flex text-3xl">Restaurants</div>
      <div class="flex">
        <button mat-stroked-button (click)="onCreateRestaurant()">
          Create New Restaurant
        </button>
      </div>
    </div>
    <div
      class="flex bg-inherit border border-cyan-700 rounded-2xl w-full h-full p-4"
    >
      @for(restaurant of dataSource; track restaurant){
      <mat-card class="w-1/4 h-fit" appearance="outlined">
        <mat-card-header>
          <div
            mat-card-avatar
            class="bg-[url('https://material.angular.io/assets/img/examples/shiba1.jpg')] bg-cover"
          ></div>
          <mat-card-title>{{ restaurant.name }}</mat-card-title>
          <mat-card-subtitle>{{ restaurant.description }}</mat-card-subtitle>
        </mat-card-header>
        <!-- Need to Update -->
        <img mat-card-image src="assets/blacklabra.webp" />
        <mat-card-actions>
          <button mat-button appearance="outlined">View</button>
          <button mat-button appearance="outlined">Update</button>
        </mat-card-actions>
      </mat-card>
      }
    </div>
  </div>
</mat-card>
