<div
  class="flex h-full flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0"
>
  <div
    class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card"
  >
    <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
      <!-- Logo -->
      <div class="w-48">
        <img src="assets/images/logo/logo.svg" />
      </div>

      <!-- Title -->
      <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">
        Sign in
      </div>
      <div class="flex items-baseline mt-0.5 font-medium">
        <div>Don't have an account?</div>
        <a
          class="ml-1 text-primary-500 hover:underline"
          [routerLink]="['/sign-up']"
          >Sign up
        </a>
      </div>

      <form class="flex flex-col mt-8 gap-2" [formGroup]="signInForm">
        <!-- username field -->
        <mat-form-field
          class="w-full border text-zinc-800 rounded-2xl"
          appearance="outline"
        >
          <input
            matInput
            autocomplete="username"
            placeholder="Username"
            [formControlName]="'username'"
          />
        </mat-form-field>
        <!-- Password field -->
        <mat-form-field
          class="w-full border text-zinc-800 rounded-2xl"
          appearance="outline"
        >
          <input
            id="password"
            matInput
            type="password"
            [formControlName]="'password'"
            #passwordField
            placeholder="Password"
            autocomplete="current-password"
          />
          <button
            mat-icon-button
            type="button"
            (click)="
              passwordField.type === 'password'
                ? (passwordField.type = 'text')
                : (passwordField.type = 'password')
            "
            matSuffix
          >
            <mat-icon
              class="icon-size-5"
              *ngIf="passwordField.type === 'password'"
            >
              <span class="material-symbols-outlined">
                visibility
              </span></mat-icon
            >
            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'">
              <span class="material-symbols-outlined">
                visibility_off
              </span></mat-icon
            >
          </button>
          <!-- <mat-error> Password is required </mat-error> -->
        </mat-form-field>

        <!-- Actions -->
        <div class="inline-flex items-center justify-between w-full mt-1.5">
          <mat-checkbox
            class="-ml-2"
            [color]="'primary'"
            formControlName="rememberme"
          >
            Remember me
          </mat-checkbox>
          <a
            class="text-md font-medium text-primary-500 hover:underline"
            [routerLink]="['/forgot-password']"
            >Forgot password?
          </a>
        </div>

        <!-- Submit button -->
        <button
          class="w-full mt-6"
          mat-flat-button
          [color]="'primary'"
          [disabled]="signInForm.disabled"
          (click)="signIn()"
        >
          <span *ngIf="!signInForm.disabled"> Sign in </span>
          <mat-progress-spinner
            *ngIf="signInForm.disabled"
            [diameter]="24"
            [mode]="'indeterminate'"
          ></mat-progress-spinner>
        </button>
      </form>
    </div>
  </div>
</div>
