<div class="flex flex-col h-full w-full py-4 px-8">
  <div mat-dialog-title class="flex w-full justify-start">Restaurants</div>
  <mat-dialog-content class="flex flex-col w-full gap-4" [formGroup]="form">
    <div class="flex w-full gap-2 p-4">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Tag Line</mat-label>
        <input type="text" matInput formControlName="tagLine" />
      </mat-form-field>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Medias</mat-label>
        <mat-select formControlName="mediaIds" multiple>
          @for (item of mediaIds; track item) {
          <mat-option [value]="item.value">{{ item.key }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex w-full p-4">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea type="text" matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>
    <div class="flex w-full gap-2 p-4">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Menus</mat-label>
        <mat-select formControlName="menuIds" multiple>
          @for (item of menuIds; track item) {
          <mat-option [value]="item.value">{{ item.key }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Managers</mat-label>
        <mat-chip-grid
          #managerChipGrid
          aria-label="Enter Manager Email keywords"
          formControlName="managers"
        >
          @for (keyword of managers; track keyword) {
          <mat-chip-row (removed)="removeManager(keyword)">
            {{ keyword }}
            <button matChipRemove aria-label="'remove Manager Email' + keyword">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
        </mat-chip-grid>
        <input
          placeholder="Email..."
          [matChipInputFor]="managerChipGrid"
          (matChipInputTokenEnd)="addManager($event)"
        />
      </mat-form-field>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Staff</mat-label>
        <mat-select formControlName="staffs" multiple>
          @for (item of staffs; track item) {
          <mat-option [value]="item.value">{{ item.key }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex w-full p-4 gap-2" formGroupName="address">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Short Address</mat-label>
        <input type="text" matInput formControlName="shortAddress" />
      </mat-form-field>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Locality</mat-label>
        <input type="text" matInput formControlName="locality" />
      </mat-form-field>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Plus Code</mat-label>
        <input type="text" matInput formControlName="plusCode" />
      </mat-form-field>
    </div>
    <div class="flex w-full p-4" formGroupName="address">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Full Address</mat-label>
        <textarea type="text" matInput formControlName="fullAddress"></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="onSave()" [disabled]="form.invalid">
      Save
    </button>
  </mat-dialog-actions>
</div>
